#navbar .logo{
    float: none;
    margin: 0px 42.5%;
    position: none;
    /* text-align: center; */
    display: none;
}

#navbar ul,#navbar ul li{
    float: none;  
    /* position: static; */
    text-align: center;
    display: none;
}

#navbar ul li a{
    padding: 5px;
    border-bottom: #444 dotted 1px;
    /* position: static; */
    /* width: 100%; */
}
#top .page-content{
    /* float: none; */
       /* width: 100%; */
   }
#top .page-content .profile-pic{
    float: none;
    text-align: center;
    /* margin: 20% auto; */
    /* float: none; */
    width: 40%;
    height: 10rem;
}
#top .page-content .title{
    float: none;
    width: 100%;
}
#top .page-content .category{
    float: none;
    width: 100%;
}
#top .page-content .hire-me  {
    float: none;
    width: 100%;
    /* margin: 50% auto; */
}
#top .page-content .download-cv  {
    float: none;
    width: 100%;
    margin: 32%;
}
#top .button-container{
    width: 100%;
    height: 100%;
    float: none;
    text-align: center;
    margin: 6% 25%;
}
#top .page-4{
    width: 100%;
    height: 2450px;
    background: #FFFFFF;
}
#top .page-4 .container .grid4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 90%;
}
#top .page-4 .container .grid5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 90%;
}
#top .page-4 .container .grid8 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 90%;
}
#top .page-4 .container .grid7 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 90%;
}

#top .page-5{
    height: 550px;
    width: 100%;
    /* overflow: hidden; */
}